[core]
# Dossier des DAGs (le chemin interne au container Docker)
dags_folder = /opt/airflow/dags

# Exécuteur moderne pour Docker
executor = LocalExecutor

# dag_discovery_recursion_depth = 5

# Désactivation des exemples pour un environnement propre
load_examples = False

# Clé pour chiffrer les connexions en base (doit être identique sur tous les services)
fernet_key = fb39119b1d52d1335288279f06087799

# Airflow 3.x gère mieux les fuseaux horaires
default_timezone = utc

[webserver]
# URL de l'interface
base_url = http://localhost:8085

# auth_backends = airflow.contrib.auth.backends.password_auth

# Sécurité des sessions
session_lifetime_minutes = 43200
# Remplacez ceci par une chaîne aléatoire longue
secret_key = airflow_session_secret_3_1_8

[scheduler]
# Intervalle de scan des fichiers de DAGs (en secondes)
refresh_interval = 30
# Nombre de processus pour parser les DAGs (optimisation)
parsing_processes = 2

[logging]
base_log_folder = /opt/airflow/logs

[database]
# Connexion à la base de données (Postgres 15+)
sql_alchemy_conn = postgresql+psycopg2://airflow:airflow@postgres/airflow

[api]
enable_swagger_ui = True
expose_config = True
expose_stacktrace = False